# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000"  # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Database Configuration
DB_URL_DEV="postgresql://user:secret@localhost:5432/db"        # Development database connection string, e.g., "postgres://localhost:5432/mydb"
DB_URL_TEST="postgresql://user:secret@localhost:5432/db"       # Test database connection string
DB_URL_PROD="postgresql://user:secret@localhost:5432/db_prod"  # Production database connection string

# JWT Configuration
JWT_SECRET="your_jwt_secret" # Secret key for signing JWTs


